<div class="container-card" [ngStyle]="{ 'background-image': 'url(\'' + data.picture + '\')' }">
  <div class="container-elements-card">
    <div class="success-icon-card" [ngClass]="{ 'failure-icon-card': data.votes.myVote === 0, 'success-icon-card': data.votes.myVote === 1, 'undefined-icon-card': data.votes.myVote === 2 }">
      <h1 class="title-card">{{ data.name }}</h1>
    </div>
    <p class="description-card">{{ data.description }}</p>
    <div class="d-flex justify-content-between options-card">
      <button>View Full Report</button>
      <div class="datil-card">
        <span>{{ data.detail.time }}</span>
        <span>{{ data.detail.career }}</span>
      </div>
    </div>
    <zemoga-progress-bar [data]="data.votes"></zemoga-progress-bar>
  </div>
</div>
