<div class="container-card" [ngStyle]="{ 'background-image': 'url(\'' + data.picture + '\')' }">
  <div class="container-elements-card">
    <div class="success-icon-card" [ngClass]="{ 'failure-icon-card': !likeOrDislike, 'success-icon-card': likeOrDislike }">
      <h1 class="title-card">{{ data.name }}</h1>
    </div>
    <p class="description-card">{{ data.description }}</p>
    <div class="d-flex justify-content-between options-card mb-3">
      <button class="description-button" (click)="emitEvent()">View Full Report</button>
      <div class="detail-card">
        <p class="m-0">{{ data.detail.time }} month ago</p>
        <p class="m-0">in {{ data.detail.career }}</p>
      </div>
    </div>
    <zemoga-progress-bar [data]="data.votes"></zemoga-progress-bar>
  </div>
</div>
