:root 
{
  --yellow: #ffad1d;
  --yellowTransparent: #ffac1dd0;
  --black: #191919;
  --blueTransparent: #1cbbb4d0;
  --white: #ffffff;
  --whiteTransparent: #ffffff80;
  --gray: #707070;
  --grayTransparent: #70707080;
  --grayBackground: #EBEBEB;
}
